.bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
.footer-img {
  width: auto !important;
  width: 120%;
  margin-left: -9%;
  margin-top: -170px;
  min-width: 118%;
  float: left;
  z-index: -1;
  clear: both;
}

.chemistry {
  background-color: #f6f6f6;
}
