<tr>
  <td>1</td>
  <td><a href='http://ru.wikipedia.org/wiki/Джордж_Оруэлл'>Джордж Оруэлл</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=1984%20(роман)'>1984 (роман)</a></td>
  <td>Nineteen Eighty-Four</td>
</tr>

<tr>
  <td>2</td>
  <td><a href='http://ru.wikipedia.org/wiki/Диккенс,_Чарльз'>Диккенс, Чарльз</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Большие%20надежды'>Большие надежды</a></td>
  <td>Great Expectations</td>
</tr>

<tr>
  <td>3</td>
  <td><a href='http://ru.wikipedia.org/wiki/Толстой,_Лев_Николаевич'>Толстой, Лев Николаевич</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Анна%20Каренина'>Анна Каренина</a></td>
  <td>Anna Karenina</td>
</tr>

<tr>
  <td>4</td>
  <td><a href='http://ru.wikipedia.org/wiki/Остин,_Джейн'>Остин, Джейн</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Гордость%20и%20предубеждение'>Гордость и предубеждение</a></td>
  <td>Pride and Prejudice</td>
</tr>

<tr>
  <td>5</td>
  <td>Fyodor M Dostoyevsky</td>
  <td><a href='http://flibusta.net/booksearch?ask=Преступление%20и%20наказание'>Преступление и наказание</a></td>
  <td>Crime and Punishment</td>
</tr>

<tr>
  <td>6</td>
  <td><a href='http://ru.wikipedia.org/wiki/Джордж_Элиот'>Джордж Элиот</a></td>
  <td></td>
  <td>Middlemarch</td>
</tr>

<tr>
  <td>7</td>
  <td>Gabriel Garcia Marquez</td>
  <td><a href='http://flibusta.net/booksearch?ask=Сто%20лет%20одиночества'>Сто лет одиночества</a></td>
  <td>One Hundred Years of Solitude</td>
</tr>

<tr>
  <td>8</td>
  <td><a href='http://ru.wikipedia.org/wiki/Бронте,_Эмили'>Бронте, Эмили</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Грозовой%20перевал'>Грозовой перевал</a></td>
  <td>Wuthering Heights</td>
</tr>

<tr>
  <td>9</td>
  <td><a href='http://ru.wikipedia.org/wiki/Толстой,_Лев_Николаевич'>Толстой, Лев Николаевич</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Война%20и%20мир'>Война и мир</a></td>
  <td>War and Peace</td>
</tr>

<tr>
  <td>10</td>
  <td>Gabriel Garcia Marquez</td>
  <td><a href='http://flibusta.net/booksearch?ask=Любовь%20во%20время%20холеры'>Любовь во время холеры</a></td>
  <td>Love in the Time of Cholera</td>
</tr>

<tr>
  <td>11</td>
  <td><a href='http://ru.wikipedia.org/wiki/Рушди,_Салман'>Рушди, Салман</a></td>
  <td></td>
  <td>Midnight's Children</td>
</tr>

<tr>
  <td>12</td>
  <td><a href='http://ru.wikipedia.org/wiki/Джойс,_Джеймс'>Джойс, Джеймс</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Улисс'>Улисс</a></td>
  <td>Ulysses</td>
</tr>

<tr>
  <td>13</td>
  <td><a href='http://ru.wikipedia.org/wiki/Ибсен,_Генрик'>Ибсен, Генрик</a></td>
  <td></td>
  <td>A Doll's House</td>
</tr>

<tr>
  <td>14</td>
  <td>JRR Tolkien</td>
  <td><a href='http://flibusta.net/booksearch?ask=Властелин%20колец'>Властелин колец</a></td>
  <td>The Lord of the Rings</td>
</tr>

<tr>
  <td>15</td>
  <td><a href='http://ru.wikipedia.org/wiki/Флобер,_Гюстав'>Флобер, Гюстав</a></td>
  <td></td>
  <td>A Sentimental Education</td>
</tr>

<tr>
  <td>16</td>
  <td><a href='http://ru.wikipedia.org/wiki/Пулман,_Филип'>Пулман, Филип</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Тёмные%20начала'>Тёмные начала</a></td>
  <td>His Dark Materials</td>
</tr>

<tr>
  <td>17</td>
  <td><a href='http://ru.wikipedia.org/wiki/Фолкнер,_Уильям'>Фолкнер, Уильям</a></td>
  <td></td>
  <td>Absalom, Absalom!</td>
</tr>

<tr>
  <td>18</td>
  <td><a href='http://ru.wikipedia.org/wiki/Адамс,_Дуглас'>Адамс, Дуглас</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Автостопом%20по%20галактике%20(серия%20романов)'>Автостопом по галактике (серия романов)</a></td>
  <td>The Hitchhiker's Guide to the Galaxy</td>
</tr>

<tr>
  <td>19</td>
  <td><a href='http://ru.wikipedia.org/wiki/Марк_Твен'>Марк Твен</a></td>
  <td></td>
  <td>The Adventures of Huckleberry Finn</td>
</tr>

<tr>
  <td>20</td>
  <td>JK Rowling</td>
  <td><a href='http://flibusta.net/booksearch?ask=Гарри%20Поттер%20и%20Кубок%20огня'>Гарри Поттер и Кубок огня</a></td>
  <td>Harry Potter and the Goblet of Fire</td>
</tr>

<tr>
  <td>21</td>
  <td><a href='http://ru.wikipedia.org/wiki/Вергилий'>Вергилий</a></td>
  <td></td>
  <td>The Aeneid</td>
</tr>

<tr>
  <td>22</td>
  <td><a href='http://ru.wikipedia.org/wiki/Ли,_Харпер'>Ли, Харпер</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Убить%20пересмешника'>Убить пересмешника</a></td>
  <td>To Kill a Mockingbird</td>
</tr>

<tr>
  <td>23</td>
  <td><a href='http://ru.wikipedia.org/wiki/Тони_Моррисон'>Тони Моррисон</a></td>
  <td></td>
  <td>Beloved</td>
</tr>

<tr>
  <td>24</td>
  <td>AA Milne</td>
  <td></td>
  <td>Winnie the Pooh</td>
</tr>

<tr>
  <td>25</td>
  <td>Alfred Doblin</td>
  <td></td>
  <td>Berlin Alexanderplatz</td>
</tr>

<tr>
  <td>26</td>
  <td>CS Lewis</td>
  <td><a href='http://flibusta.net/booksearch?ask=Лев,%20колдунья%20и%20платяной%20шкаф'>Лев, колдунья и платяной шкаф</a></td>
  <td>The Lion, the Witch and the Wardrobe</td>
</tr>

<tr>
  <td>27</td>
  <td>Jose Saramago</td>
  <td></td>
  <td>Blindness</td>
</tr>

<tr>
  <td>28</td>
  <td><a href='http://ru.wikipedia.org/wiki/Бронте,_Шарлотта'>Бронте, Шарлотта</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Джейн%20Эйр'>Джейн Эйр</a></td>
  <td>Jane Eyre</td>
</tr>

<tr>
  <td>29</td>
  <td><a href='http://ru.wikipedia.org/wiki/Песоа,_Фернанду'>Песоа, Фернанду</a></td>
  <td></td>
  <td>The Book of Disquiet</td>
</tr>

<tr>
  <td>30</td>
  <td><a href='http://ru.wikipedia.org/wiki/Хеллер,_Джозеф'>Хеллер, Джозеф</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Уловка-22'>Уловка-22</a></td>
  <td>Catch-22</td>
</tr>

<tr>
  <td>31</td>
  <td>The Book of Job</td>
  <td></td>
  <td>The Book of Job</td>
</tr>

<tr>
  <td>32</td>
  <td><a href='http://ru.wikipedia.org/wiki/Фолкс,_Себастьян'>Фолкс, Себастьян</a></td>
  <td></td>
  <td>Birdsong</td>
</tr>

<tr>
  <td>33</td>
  <td>Fyodor M Dostoyevsky</td>
  <td></td>
  <td>The Brothers Karamazov</td>
</tr>

<tr>
  <td>34</td>
  <td><a href='http://ru.wikipedia.org/wiki/Дюморье,_Дафна'>Дюморье, Дафна</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Ревекка'>Ревекка</a></td>
  <td>Rebecca</td>
</tr>

<tr>
  <td>35</td>
  <td><a href='http://ru.wikipedia.org/wiki/Манн,_Томас'>Манн, Томас</a></td>
  <td></td>
  <td>Buddenbrooks</td>
</tr>

<tr>
  <td>36</td>
  <td>JD Salinger</td>
  <td><a href='http://flibusta.net/booksearch?ask=Над%20пропастью%20во%20ржи'>Над пропастью во ржи</a></td>
  <td>The Catcher in the Rye</td>
</tr>

<tr>
  <td>37</td>
  <td><a href='http://ru.wikipedia.org/wiki/Чосер,_Джеффри'>Чосер, Джеффри</a></td>
  <td></td>
  <td>Canterbury Tales</td>
</tr>

<tr>
  <td>38</td>
  <td><a href='http://ru.wikipedia.org/wiki/Грэм,_Кеннет'>Грэм, Кеннет</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Ветер%20в%20ивах'>Ветер в ивах</a></td>
  <td>The Wind in the Willows</td>
</tr>

<tr>
  <td>39</td>
  <td><a href='http://ru.wikipedia.org/wiki/Кафка,_Франц'>Кафка, Франц</a></td>
  <td></td>
  <td>The Castle</td>
</tr>

<tr>
  <td>40</td>
  <td><a href='http://ru.wikipedia.org/wiki/Олкотт,_Луиза_Мэй'>Олкотт, Луиза Мэй</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Маленькие%20женщины'>Маленькие женщины</a></td>
  <td>Little Women</td>
</tr>

<tr>
  <td>41</td>
  <td><a href='http://ru.wikipedia.org/wiki/Махфуз,_Нагиб'>Махфуз, Нагиб</a></td>
  <td></td>
  <td>Children of Gebelawi</td>
</tr>

<tr>
  <td>42</td>
  <td>Louis de Bernieres</td>
  <td></td>
  <td>Captain Corelli's Mandolin</td>
</tr>

<tr>
  <td>43</td>
  <td><a href='http://ru.wikipedia.org/wiki/Борхес,_Хорхе_Луис'>Борхес, Хорхе Луис</a></td>
  <td></td>
  <td>Collected Fictions</td>
</tr>

<tr>
  <td>44</td>
  <td><a href='http://ru.wikipedia.org/wiki/Митчелл,_Маргарет'>Митчелл, Маргарет</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Унесённые%20ветром'>Унесённые ветром</a></td>
  <td>Gone with the Wind</td>
</tr>

<tr>
  <td>45</td>
  <td><a href='http://ru.wikipedia.org/wiki/Леопарди,_Джакомо'>Леопарди, Джакомо</a></td>
  <td></td>
  <td>Complete Poems</td>
</tr>

<tr>
  <td>46</td>
  <td>JK Rowling</td>
  <td></td>
  <td>Harry Potter And The Philosopher's Stone</td>
</tr>

<tr>
  <td>47</td>
  <td><a href='http://ru.wikipedia.org/wiki/Кафка,_Франц'>Кафка, Франц</a></td>
  <td></td>
  <td>The Complete Stories</td>
</tr>

<tr>
  <td>48</td>
  <td>JK Rowling</td>
  <td></td>
  <td>Harry Potter And The Chamber Of Secrets</td>
</tr>

<tr>
  <td>49</td>
  <td><a href='http://ru.wikipedia.org/wiki/По,_Эдгар_Аллан'>По, Эдгар Аллан</a></td>
  <td></td>
  <td>The Complete Tales</td>
</tr>

<tr>
  <td>50</td>
  <td>JK Rowling</td>
  <td></td>
  <td>Harry Potter And The Prisoner Of Azkaban</td>
</tr>

<tr>
  <td>51</td>
  <td><a href='http://ru.wikipedia.org/wiki/Итало_Звево'>Итало Звево</a></td>
  <td></td>
  <td>Confessions of Zeno</td>
</tr>

<tr>
  <td>52</td>
  <td>JRR Tolkien</td>
  <td><a href='http://flibusta.net/booksearch?ask=Хоббит,%20или%20Туда%20и%20обратно'>Хоббит, или Туда и обратно</a></td>
  <td>The Hobbit</td>
</tr>

<tr>
  <td>53</td>
  <td><a href='http://ru.wikipedia.org/wiki/Гоголь,_Николай_Васильевич'>Гоголь, Николай Васильевич</a></td>
  <td></td>
  <td>Dead Souls</td>
</tr>

<tr>
  <td>54</td>
  <td><a href='http://ru.wikipedia.org/wiki/Харди,_Томас'>Харди, Томас</a></td>
  <td></td>
  <td>Tess Of The D'Urbervilles</td>
</tr>

<tr>
  <td>55</td>
  <td><a href='http://ru.wikipedia.org/wiki/Толстой,_Лев_Николаевич'>Толстой, Лев Николаевич</a></td>
  <td></td>
  <td>The Death of Ivan Ilyich and Other Stories</td>
</tr>

<tr>
  <td>56</td>
  <td><a href='http://ru.wikipedia.org/wiki/Ирвинг,_Джон_Уинслоу'>Ирвинг, Джон Уинслоу</a></td>
  <td></td>
  <td>A Prayer For Owen Meany</td>
</tr>

<tr>
  <td>57</td>
  <td><a href='http://ru.wikipedia.org/wiki/Джованни_Боккаччо'>Джованни Боккаччо</a></td>
  <td></td>
  <td>Decameron</td>
</tr>

<tr>
  <td>58</td>
  <td><a href='http://ru.wikipedia.org/wiki/Стейнбек,_Джон'>Стейнбек, Джон</a></td>
  <td></td>
  <td>The Grapes Of Wrath</td>
</tr>

<tr>
  <td>59</td>
  <td>Joao Guimaraes Rosa</td>
  <td></td>
  <td>The Devil to Pay in the Backlands</td>
</tr>

<tr>
  <td>60</td>
  <td><a href='http://ru.wikipedia.org/wiki/Льюис_Кэрролл'>Льюис Кэрролл</a></td>
  <td></td>
  <td>Alice's Adventures In Wonderland</td>
</tr>

<tr>
  <td>61</td>
  <td><a href='http://ru.wikipedia.org/wiki/Лу_Синь'>Лу Синь</a></td>
  <td></td>
  <td>Diary of a Madman and Other Stories</td>
</tr>

<tr>
  <td>62</td>
  <td><a href='http://ru.wikipedia.org/wiki/Уилсон,_Жаклин'>Уилсон, Жаклин</a></td>
  <td></td>
  <td>The Story Of Tracy Beaker</td>
</tr>

<tr>
  <td>63</td>
  <td><a href='http://ru.wikipedia.org/wiki/Данте_Алигьери'>Данте Алигьери</a></td>
  <td></td>
  <td>The Divine Comedy</td>
</tr>

<tr>
  <td>64</td>
  <td><a href='http://ru.wikipedia.org/wiki/Фоллетт,_Кен'>Фоллетт, Кен</a></td>
  <td></td>
  <td>The Pillars Of The Earth</td>
</tr>

<tr>
  <td>65</td>
  <td>Miguel de Cervantes Saavedra</td>
  <td></td>
  <td>Don Quixote</td>
</tr>

<tr>
  <td>66</td>
  <td><a href='http://ru.wikipedia.org/wiki/Диккенс,_Чарльз'>Диккенс, Чарльз</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Дэвид%20Копперфильд%20(роман)'>Дэвид Копперфильд (роман)</a></td>
  <td>David Copperfield</td>
</tr>

<tr>
  <td>67</td>
  <td><a href='http://ru.wikipedia.org/wiki/Монтень,_Мишель_де'>Монтень, Мишель де</a></td>
  <td></td>
  <td>Essays</td>
</tr>

<tr>
  <td>68</td>
  <td><a href='http://ru.wikipedia.org/wiki/Даль,_Роальд'>Даль, Роальд</a></td>
  <td></td>
  <td>Charlie And The Chocolate Factory</td>
</tr>

<tr>
  <td>69</td>
  <td><a href='http://ru.wikipedia.org/wiki/Андерсен,_Ханс_Кристиан'>Андерсен, Ханс Кристиан</a></td>
  <td></td>
  <td>Fairy Tales and Stories</td>
</tr>

<tr>
  <td>70</td>
  <td><a href='http://ru.wikipedia.org/wiki/Стивенсон,_Роберт_Льюис'>Стивенсон, Роберт Льюис</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Остров%20сокровищ'>Остров сокровищ</a></td>
  <td>Treasure Island</td>
</tr>

<tr>
  <td>71</td>
  <td><a href='http://ru.wikipedia.org/wiki/Гёте,_Иоганн_Вольфганг_фон'>Гёте, Иоганн Вольфганг фон</a></td>
  <td></td>
  <td>Faust</td>
</tr>

<tr>
  <td>72</td>
  <td><a href='http://ru.wikipedia.org/wiki/Шют,_Невил'>Шют, Невил</a></td>
  <td></td>
  <td>A Town Like Alice</td>
</tr>

<tr>
  <td>73</td>
  <td>Francois Rabelais</td>
  <td></td>
  <td>Gargantua and Pantagruel</td>
</tr>

<tr>
  <td>74</td>
  <td><a href='http://ru.wikipedia.org/wiki/Остин,_Джейн'>Остин, Джейн</a></td>
  <td></td>
  <td>Persuasion</td>
</tr>

<tr>
  <td>75</td>
  <td><a href='http://ru.wikipedia.org/wiki/Гильгамеш'>Гильгамеш</a></td>
  <td></td>
  <td>Gilgamesh</td>
</tr>

<tr>
  <td>76</td>
  <td><a href='http://ru.wikipedia.org/wiki/Герберт,_Фрэнк'>Герберт, Фрэнк</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Дюна'>Дюна</a></td>
  <td>Dune</td>
</tr>

<tr>
  <td>77</td>
  <td><a href='http://ru.wikipedia.org/wiki/Лессинг,_Дорис'>Лессинг, Дорис</a></td>
  <td></td>
  <td>The Golden Notebook</td>
</tr>

<tr>
  <td>78</td>
  <td><a href='http://ru.wikipedia.org/wiki/Остин,_Джейн'>Остин, Джейн</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Эмма%20(роман)'>Эмма (роман)</a></td>
  <td>Emma</td>
</tr>

<tr>
  <td>79</td>
  <td><a href='http://ru.wikipedia.org/wiki/Свифт,_Джонатан'>Свифт, Джонатан</a></td>
  <td></td>
  <td>Gulliver's Travels</td>
</tr>

<tr>
  <td>80</td>
  <td>LM Montgomery</td>
  <td></td>
  <td>Anne Of Green Gables</td>
</tr>

<tr>
  <td>81</td>
  <td>Federico Garcia Lorca</td>
  <td></td>
  <td>Gypsy Ballads</td>
</tr>

<tr>
  <td>82</td>
  <td><a href='http://ru.wikipedia.org/wiki/Адамс,_Ричард'>Адамс, Ричард</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Обитатели%20холмов'>Обитатели холмов</a></td>
  <td>Watership Down</td>
</tr>

<tr>
  <td>83</td>
  <td><a href='http://ru.wikipedia.org/wiki/Шекспир,_Уильям'>Шекспир, Уильям</a></td>
  <td></td>
  <td>Hamlet</td>
</tr>

<tr>
  <td>84</td>
  <td>F Scott Fitzgerald</td>
  <td><a href='http://flibusta.net/booksearch?ask=Великий%20Гэтсби'>Великий Гэтсби</a></td>
  <td>The Great Gatsby</td>
</tr>

<tr>
  <td>85</td>
  <td><a href='http://ru.wikipedia.org/wiki/Моранте,_Эльза'>Моранте, Эльза</a></td>
  <td></td>
  <td>History</td>
</tr>

<tr>
  <td>86</td>
  <td><a href='http://ru.wikipedia.org/wiki/Дюма,_Александр_(отец)'>Дюма, Александр (отец)</a></td>
  <td></td>
  <td>The Count Of Monte Cristo</td>
</tr>

<tr>
  <td>87</td>
  <td><a href='http://ru.wikipedia.org/wiki/Гамсун,_Кнут'>Гамсун, Кнут</a></td>
  <td></td>
  <td>Hunger</td>
</tr>

<tr>
  <td>88</td>
  <td><a href='http://ru.wikipedia.org/wiki/Во,_Ивлин'>Во, Ивлин</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Возвращение%20в%20Брайдсхед'>Возвращение в Брайдсхед</a></td>
  <td>Brideshead Revisited</td>
</tr>

<tr>
  <td>89</td>
  <td>Fyodor M Dostoyevsky</td>
  <td></td>
  <td>The Idiot</td>
</tr>

<tr>
  <td>90</td>
  <td><a href='http://ru.wikipedia.org/wiki/Джордж_Оруэлл'>Джордж Оруэлл</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Скотный%20двор'>Скотный двор</a></td>
  <td>Animal Farm</td>
</tr>

<tr>
  <td>91</td>
  <td><a href='http://ru.wikipedia.org/wiki/Гомер'>Гомер</a></td>
  <td></td>
  <td>The Iliad</td>
</tr>

<tr>
  <td>92</td>
  <td><a href='http://ru.wikipedia.org/wiki/Диккенс,_Чарльз'>Диккенс, Чарльз</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Рождественская%20песнь%20в%20прозе'>Рождественская песнь в прозе</a></td>
  <td>A Christmas Carol</td>
</tr>

<tr>
  <td>93</td>
  <td>Halldor K Laxness</td>
  <td></td>
  <td>Independent People</td>
</tr>

<tr>
  <td>94</td>
  <td><a href='http://ru.wikipedia.org/wiki/Харди,_Томас'>Харди, Томас</a></td>
  <td></td>
  <td>Far From The Madding Crowd</td>
</tr>

<tr>
  <td>95</td>
  <td><a href='http://ru.wikipedia.org/wiki/Эллисон,_Ральф'>Эллисон, Ральф</a></td>
  <td></td>
  <td>Invisible Man</td>
</tr>

<tr>
  <td>96</td>
  <td><a href='http://ru.wikipedia.org/wiki/Магориан,_Мишель'>Магориан, Мишель</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Спокойной%20ночи,%20мистер%20Том'>Спокойной ночи, мистер Том</a></td>
  <td>Goodnight Mister Tom</td>
</tr>

<tr>
  <td>97</td>
  <td><a href='http://ru.wikipedia.org/wiki/Дидро,_Дени'>Дидро, Дени</a></td>
  <td></td>
  <td>Jacques the Fatalist and His Master</td>
</tr>

<tr>
  <td>98</td>
  <td><a href='http://ru.wikipedia.org/wiki/Пилчер,_Розамунда'>Пилчер, Розамунда</a></td>
  <td></td>
  <td>The Shell Seekers</td>
</tr>

<tr>
  <td>99</td>
  <td>Louis-Ferdinand Celine</td>
  <td></td>
  <td>Journey to the End of the Night</td>
</tr>

<tr>
  <td>100</td>
  <td><a href='http://ru.wikipedia.org/wiki/Бёрнетт,_Фрэнсис_Элиза'>Бёрнетт, Фрэнсис Элиза</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Таинственный%20сад%20(книга)'>Таинственный сад (книга)</a></td>
  <td>The Secret Garden</td>
</tr>

<tr>
  <td>101</td>
  <td><a href='http://ru.wikipedia.org/wiki/Шекспир,_Уильям'>Шекспир, Уильям</a></td>
  <td></td>
  <td>King Lear</td>
</tr>

<tr>
  <td>102</td>
  <td><a href='http://ru.wikipedia.org/wiki/Стейнбек,_Джон'>Стейнбек, Джон</a></td>
  <td></td>
  <td>Of Mice And Men</td>
</tr>

<tr>
  <td>103</td>
  <td><a href='http://ru.wikipedia.org/wiki/Уитмен,_Уолт'>Уитмен, Уолт</a></td>
  <td></td>
  <td>Leaves of Grass</td>
</tr>

<tr>
  <td>104</td>
  <td><a href='http://ru.wikipedia.org/wiki/Кинг,_Стивен'>Кинг, Стивен</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Противостояние%20(роман)'>Противостояние (роман)</a></td>
  <td>The Stand</td>
</tr>

<tr>
  <td>105</td>
  <td><a href='http://ru.wikipedia.org/wiki/Стерн,_Лоренс'>Стерн, Лоренс</a></td>
  <td></td>
  <td>The Life and Opinions of Tristram Shandy</td>
</tr>

<tr>
  <td>106</td>
  <td>Vikram Seth</td>
  <td></td>
  <td>A Suitable Boy</td>
</tr>

<tr>
  <td>107</td>
  <td><a href='http://ru.wikipedia.org/wiki/Набоков,_Владимир_Владимирович'>Набоков, Владимир Владимирович</a></td>
  <td></td>
  <td>Lolita</td>
</tr>

<tr>
  <td>108</td>
  <td><a href='http://ru.wikipedia.org/wiki/Даль,_Роальд'>Даль, Роальд</a></td>
  <td></td>
  <td>The BFG</td>
</tr>

<tr>
  <td>109</td>
  <td><a href='http://ru.wikipedia.org/wiki/Флобер,_Гюстав'>Флобер, Гюстав</a></td>
  <td></td>
  <td>Madame Bovary</td>
</tr>

<tr>
  <td>110</td>
  <td><a href='http://ru.wikipedia.org/wiki/Рэнсом,_Артур'>Рэнсом, Артур</a></td>
  <td></td>
  <td>Swallows And Amazons</td>
</tr>

<tr>
  <td>111</td>
  <td><a href='http://ru.wikipedia.org/wiki/Манн,_Томас'>Манн, Томас</a></td>
  <td></td>
  <td>The Magic Mountain</td>
</tr>

<tr>
  <td>112</td>
  <td>Anna Sewell</td>
  <td></td>
  <td>Black Beauty</td>
</tr>

<tr>
  <td>113</td>
  <td><a href='http://ru.wikipedia.org/wiki/Махабхарата'>Махабхарата</a></td>
  <td></td>
  <td>Mahabharata</td>
</tr>

<tr>
  <td>114</td>
  <td><a href='http://ru.wikipedia.org/wiki/Колфер,_Оуэн'>Колфер, Оуэн</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Артемис%20Фаул'>Артемис Фаул</a></td>
  <td>Artemis Fowl</td>
</tr>

<tr>
  <td>115</td>
  <td><a href='http://ru.wikipedia.org/wiki/Музиль,_Роберт'>Музиль, Роберт</a></td>
  <td></td>
  <td>The Man Without Qualities</td>
</tr>

<tr>
  <td>116</td>
  <td>Malorie Blackman</td>
  <td></td>
  <td>Noughts And Crosses</td>
</tr>

<tr>
  <td>117</td>
  <td>Jalal ad-din Rumi</td>
  <td></td>
  <td>The Mathnawi</td>
</tr>

<tr>
  <td>118</td>
  <td><a href='http://ru.wikipedia.org/wiki/Голден,_Артур'>Голден, Артур</a></td>
  <td></td>
  <td>Memoirs Of A Geisha</td>
</tr>

<tr>
  <td>119</td>
  <td><a href='http://ru.wikipedia.org/wiki/Еврипид'>Еврипид</a></td>
  <td></td>
  <td>Medea</td>
</tr>

<tr>
  <td>120</td>
  <td><a href='http://ru.wikipedia.org/wiki/Диккенс,_Чарльз'>Диккенс, Чарльз</a></td>
  <td></td>
  <td>A Tale Of Two Cities</td>
</tr>

<tr>
  <td>121</td>
  <td><a href='http://ru.wikipedia.org/wiki/Юрсенар,_Маргерит'>Юрсенар, Маргерит</a></td>
  <td></td>
  <td>Memoirs of Hadrian</td>
</tr>

<tr>
  <td>122</td>
  <td>Colleen McCollough</td>
  <td><a href='http://flibusta.net/booksearch?ask=Поющие%20в%20терновнике'>Поющие в терновнике</a></td>
  <td>The Thorn Birds</td>
</tr>

<tr>
  <td>123</td>
  <td><a href='http://ru.wikipedia.org/wiki/Публий_Овидий_Назон'>Публий Овидий Назон</a></td>
  <td></td>
  <td>Metamorphoses</td>
</tr>

<tr>
  <td>124</td>
  <td><a href='http://ru.wikipedia.org/wiki/Пратчетт,_Терри'>Пратчетт, Терри</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Мор,%20ученик%20Смерти'>Мор, ученик Смерти</a></td>
  <td>Mort</td>
</tr>

<tr>
  <td>125</td>
  <td><a href='http://ru.wikipedia.org/wiki/Мелвилл,_Герман'>Мелвилл, Герман</a></td>
  <td></td>
  <td>Moby-Dick</td>
</tr>

<tr>
  <td>126</td>
  <td><a href='http://ru.wikipedia.org/wiki/Блайтон,_Энид_Мэри'>Блайтон, Энид Мэри</a></td>
  <td></td>
  <td>The Magic Faraway Tree</td>
</tr>

<tr>
  <td>127</td>
  <td><a href='http://ru.wikipedia.org/wiki/Вулф,_Вирджиния'>Вулф, Вирджиния</a></td>
  <td></td>
  <td>Mrs. Dalloway</td>
</tr>

<tr>
  <td>128</td>
  <td><a href='http://ru.wikipedia.org/wiki/Фаулз,_Джон_Роберт'>Фаулз, Джон Роберт</a></td>
  <td></td>
  <td>The Magus</td>
</tr>

<tr>
  <td>129</td>
  <td>Njaals Saga</td>
  <td></td>
  <td>Njaals Saga</td>
</tr>

<tr>
  <td>130</td>
  <td>Terry Pratchett and Neil Gaiman</td>
  <td><a href='http://flibusta.net/booksearch?ask=Благие%20знамения'>Благие знамения</a></td>
  <td>Good Omens</td>
</tr>

<tr>
  <td>131</td>
  <td><a href='http://ru.wikipedia.org/wiki/Конрад,_Джозеф'>Конрад, Джозеф</a></td>
  <td></td>
  <td>Nostromo</td>
</tr>

<tr>
  <td>132</td>
  <td><a href='http://ru.wikipedia.org/wiki/Пратчетт,_Терри'>Пратчетт, Терри</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Стража!%20Стража!'>Стража! Стража!</a></td>
  <td>Guards! Guards!</td>
</tr>

<tr>
  <td>133</td>
  <td><a href='http://ru.wikipedia.org/wiki/Гомер'>Гомер</a></td>
  <td></td>
  <td>The Odyssey</td>
</tr>

<tr>
  <td>134</td>
  <td><a href='http://ru.wikipedia.org/wiki/Голдинг,_Уильям'>Голдинг, Уильям</a></td>
  <td></td>
  <td>Lord Of The Flies</td>
</tr>

<tr>
  <td>135</td>
  <td><a href='http://ru.wikipedia.org/wiki/Царь_Эдип'>Царь Эдип</a></td>
  <td></td>
  <td>Oedipus the King</td>
</tr>

<tr>
  <td>136</td>
  <td><a href='http://ru.wikipedia.org/wiki/Зюскинд,_Патрик'>Зюскинд, Патрик</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Духи'>Духи</a></td>
  <td>Perfume</td>
</tr>

<tr>
  <td>137</td>
  <td>Honore de Balzac</td>
  <td></td>
  <td>Old Goriot</td>
</tr>

<tr>
  <td>138</td>
  <td>Robert Tressell</td>
  <td></td>
  <td>The Ragged Trousered Philanthropists</td>
</tr>

<tr>
  <td>139</td>
  <td><a href='http://ru.wikipedia.org/wiki/Хемингуэй,_Эрнест'>Хемингуэй, Эрнест</a></td>
  <td></td>
  <td>The Old Man and the Sea</td>
</tr>

<tr>
  <td>140</td>
  <td><a href='http://ru.wikipedia.org/wiki/Пратчетт,_Терри'>Пратчетт, Терри</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Ночной%20дозор'>Ночной дозор</a></td>
  <td>Night Watch</td>
</tr>

<tr>
  <td>141</td>
  <td>Sheikh Musharrif ud-din Sadi</td>
  <td></td>
  <td>The Orchard</td>
</tr>

<tr>
  <td>142</td>
  <td><a href='http://ru.wikipedia.org/wiki/Даль,_Роальд'>Даль, Роальд</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Матильда%20(значения)'>Матильда (значения)</a></td>
  <td>Matilda</td>
</tr>

<tr>
  <td>143</td>
  <td><a href='http://ru.wikipedia.org/wiki/Шекспир,_Уильям'>Шекспир, Уильям</a></td>
  <td></td>
  <td>Othello</td>
</tr>

<tr>
  <td>144</td>
  <td><a href='http://ru.wikipedia.org/wiki/Филдинг,_Хелен'>Филдинг, Хелен</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Дневник%20Бриджит%20Джонс%20(роман)'>Дневник Бриджит Джонс (роман)</a></td>
  <td>Bridget Jones's Diary</td>
</tr>

<tr>
  <td>145</td>
  <td>Juan Rulfo Juan Rulfo</td>
  <td></td>
  <td>Pedro Paramo</td>
</tr>

<tr>
  <td>146</td>
  <td><a href='http://ru.wikipedia.org/wiki/Тартт,_Донна'>Тартт, Донна</a></td>
  <td></td>
  <td>The Secret History</td>
</tr>

<tr>
  <td>147</td>
  <td><a href='http://ru.wikipedia.org/wiki/Линдгрен,_Астрид'>Линдгрен, Астрид</a></td>
  <td></td>
  <td>Pippi Longstocking</td>
</tr>

<tr>
  <td>148</td>
  <td><a href='http://ru.wikipedia.org/wiki/Коллинз,_Уилки'>Коллинз, Уилки</a></td>
  <td></td>
  <td>The Woman In White</td>
</tr>

<tr>
  <td>149</td>
  <td><a href='http://ru.wikipedia.org/wiki/Целан,_Пауль'>Целан, Пауль</a></td>
  <td></td>
  <td>Poems</td>
</tr>

<tr>
  <td>150</td>
  <td><a href='http://ru.wikipedia.org/wiki/Диккенс,_Чарльз'>Диккенс, Чарльз</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Холодный%20дом'>Холодный дом</a></td>
  <td>Bleak House</td>
</tr>

<tr>
  <td>151</td>
  <td>Fyodor M Dostoyevsky</td>
  <td></td>
  <td>The Possessed</td>
</tr>

<tr>
  <td>152</td>
  <td><a href='http://ru.wikipedia.org/wiki/Уилсон,_Жаклин'>Уилсон, Жаклин</a></td>
  <td></td>
  <td>Double Act</td>
</tr>

<tr>
  <td>153</td>
  <td><a href='http://ru.wikipedia.org/wiki/Вальмики'>Вальмики</a></td>
  <td></td>
  <td>The Ramayana</td>
</tr>

<tr>
  <td>154</td>
  <td><a href='http://ru.wikipedia.org/wiki/Даль,_Роальд'>Даль, Роальд</a></td>
  <td></td>
  <td>The Twits</td>
</tr>

<tr>
  <td>155</td>
  <td>Kalidasa</td>
  <td></td>
  <td>The Recognition of Sakuntala</td>
</tr>

<tr>
  <td>156</td>
  <td>Dodie Smith</td>
  <td></td>
  <td>I Capture The Castle</td>
</tr>

<tr>
  <td>157</td>
  <td><a href='http://ru.wikipedia.org/wiki/Стендаль'>Стендаль</a></td>
  <td></td>
  <td>The Red and the Black</td>
</tr>

<tr>
  <td>158</td>
  <td><a href='http://ru.wikipedia.org/wiki/Сачар,_Луис'>Сачар, Луис</a></td>
  <td></td>
  <td>Holes</td>
</tr>

<tr>
  <td>159</td>
  <td><a href='http://ru.wikipedia.org/wiki/Пруст,_Марсель'>Пруст, Марсель</a></td>
  <td></td>
  <td>Remembrance of Things Past</td>
</tr>

<tr>
  <td>160</td>
  <td><a href='http://ru.wikipedia.org/wiki/Пик,_Мервин'>Пик, Мервин</a></td>
  <td></td>
  <td>Gormenghast</td>
</tr>

<tr>
  <td>161</td>
  <td><a href='http://ru.wikipedia.org/wiki/Салих,_Тайиб'>Салих, Тайиб</a></td>
  <td></td>
  <td>Season of Migration to the North</td>
</tr>

<tr>
  <td>162</td>
  <td><a href='http://ru.wikipedia.org/wiki/Рой,_Арундати'>Рой, Арундати</a></td>
  <td></td>
  <td>The God Of Small Things</td>
</tr>

<tr>
  <td>163</td>
  <td>Anton P Chekhov</td>
  <td></td>
  <td>Selected Stories</td>
</tr>

<tr>
  <td>164</td>
  <td><a href='http://ru.wikipedia.org/wiki/Уилсон,_Жаклин'>Уилсон, Жаклин</a></td>
  <td></td>
  <td>Vicky Angel</td>
</tr>

<tr>
  <td>165</td>
  <td>DH Lawrence</td>
  <td></td>
  <td>Sons and Lovers</td>
</tr>

<tr>
  <td>166</td>
  <td><a href='http://ru.wikipedia.org/wiki/Хаксли,_Олдос'>Хаксли, Олдос</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=О%20дивный%20новый%20мир'>О дивный новый мир</a></td>
  <td>Brave New World</td>
</tr>

<tr>
  <td>167</td>
  <td><a href='http://ru.wikipedia.org/wiki/Фолкнер,_Уильям'>Фолкнер, Уильям</a></td>
  <td></td>
  <td>The Sound and the Fury</td>
</tr>

<tr>
  <td>168</td>
  <td>Stella Gibbons</td>
  <td></td>
  <td>Cold Comfort Farm</td>
</tr>

<tr>
  <td>169</td>
  <td><a href='http://ru.wikipedia.org/wiki/Кавабата,_Ясунари'>Кавабата, Ясунари</a></td>
  <td></td>
  <td>The Sound of the Mountain</td>
</tr>

<tr>
  <td>170</td>
  <td>Raymond E Feist</td>
  <td></td>
  <td>Magician</td>
</tr>

<tr>
  <td>171</td>
  <td><a href='http://ru.wikipedia.org/wiki/Камю,_Альбер'>Камю, Альбер</a></td>
  <td></td>
  <td>The Stranger</td>
</tr>

<tr>
  <td>172</td>
  <td><a href='http://ru.wikipedia.org/wiki/Керуак,_Джек'>Керуак, Джек</a></td>
  <td></td>
  <td>On The Road</td>
</tr>

<tr>
  <td>173</td>
  <td>Shikibu Murasaki</td>
  <td></td>
  <td>The Tale of Genji</td>
</tr>

<tr>
  <td>174</td>
  <td><a href='http://ru.wikipedia.org/wiki/Пьюзо,_Марио'>Пьюзо, Марио</a></td>
  <td><a href='http://flibusta.net/booksearch?ask=Крёстный%20отец%20(фильм)'>Крёстный отец (фильм)</a></td>
  <td>The Godfather</td>
</tr>

<tr>
  <td>175</td>
  <td><a href='http://ru.wikipedia.org/wiki/Ачебе,_Чинуа'>Ачебе, Чинуа</a></td>
  <td></td>
  <td>Things Fall Apart</td>
</tr>

<tr>
  <td>176</td>
  <td>Jean M Auel</td>
  <td></td>
  <td>The Clan Of The Cave Bear</td>
</tr>

<tr>
  <td>177</td>
  <td>Thousand and One Nights</td>
  <td></td>
  <td>Thousand and One Nights</td>
</tr>

<tr>
  <td>178</td>
  <td><a href='http://ru.wikipedia.org/wiki/Пратчетт,_Терри'>Пратчетт, Терри</a></td>
  <td></td>
  <td>The Colour Of Magic</td>
</tr>

<tr>
  <td>179</td>
  <td>Gunter Grass</td>
  <td></td>
  <td>The Tin Drum</td>
</tr>

<tr>
  <td>180</td>
  <td><a href='http://ru.wikipedia.org/wiki/Коэльо,_Пауло'>Коэльо, Пауло</a></td>
  <td></td>
  <td>The Alchemist</td>
</tr>

<tr>
  <td>181</td>
  <td><a href='http://ru.wikipedia.org/wiki/Вулф,_Вирджиния'>Вулф, Вирджиния</a></td>
  <td></td>
  <td>To the Lighthouse</td>
</tr>

<tr>
  <td>182</td>
  <td>Anya Seton</td>
  <td></td>
  <td>Katherine</td>
</tr>

<tr>
  <td>183</td>
  <td><a href='http://ru.wikipedia.org/wiki/Кафка,_Франц'>Кафка, Франц</a></td>
  <td></td>
  <td>The Trial</td>
</tr>

<tr>
  <td>184</td>
  <td><a href='http://ru.wikipedia.org/wiki/Арчер,_Джеффри'>Арчер, Джеффри</a></td>
  <td></td>
  <td>Kane And Abel</td>
</tr>

<tr>
  <td>185</td>
  <td> Malone Dies</td>
  <td></td>
  <td>Trilogy: Molloy, Malone Dies, The Unnamable</td>
</tr>

<tr>
  <td>186</td>
  <td><a href='http://ru.wikipedia.org/wiki/Уилсон,_Жаклин'>Уилсон, Жаклин</a></td>
  <td></td>
  <td>Girls In Love</td>
</tr>

<tr>
  <td>187</td>
  <td><a href='http://ru.wikipedia.org/wiki/Казандзакис,_Никос'>Казандзакис, Никос</a></td>
  <td></td>
  <td>Zorba the Greek</td>
</tr>

<tr>
  <td>188</td>
  <td><a href='http://ru.wikipedia.org/wiki/Кэбот,_Мэг'>Кэбот, Мэг</a></td>
  <td></td>
  <td>The Princess Diaries</td>
</tr>

