<tr>
  <td><a href="http://flibusta.net/b/198539">Авеста</a></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td><a href="http://flibusta.net/b/337472">Библия</a></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td><a href="http://flibusta.net/b/122668">Коран</a></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td><a href="http://flibusta.net/b/113346">Упанишады</a></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td><a href="http://flibusta.net/b/259221">Золотая ветвь: Исследование магии и религии</a></td>
  <td>The Golden Bough: A Study in Magic and Religion</td>
  <td><a href="https://ru.wikipedia.org/wiki/%D0%A4%D1%80%D1%8D%D0%B7%D0%B5%D1%80,_%D0%94%D0%B6%D0%B5%D0%B9%D0%BC%D1%81_%D0%94%D0%B6%D0%BE%D1%80%D0%B4%D0%B6">Джеймс Фрэзер</a></td>
</tr>
